node_modules
npm-debug.log
.git
.gitignore
README.md
dist
build
.DS_Store
.vscode
.idea
*.log
coverage
.nyc_output
back-end/node_modules
back-end/dist
back-end/prisma/migrations/*.sql
!back-end/prisma/migrations/migration_lock.toml